<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supervision caméras</title>
</head>
<body>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}
h1 {
   color: black;
   text-align: center;
   padding: 15px 32px;
   font-size: 32px;
}

li {
    color: black;
   text-align: center;
   padding: 15px 32px;
   font-size: 16px;

}
</style>

<h1 > Consultation des vidéos  </h1>


<h1 > Consultation des logs  </h1>


</body>
</html>