<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Paramètres des photos</title>
    <meta name='viewport' content="width-device-width, initial-scale=1" charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-teal">
<h1>
    <a href="http://{{ip}}:5001" class="w3-button">Gestions des caméras</a>
</h1>
</div>
<form class="w3-container" action="/param/{{name}}" method="POST">
    <b>
    <label class="w3-text-blue">Activation flux HD => "on" pour activer </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="HD" name="HD" value={{parametres.HD}}>

    <label class="w3-text-blue">Découpe de l'image HV : nb division en blocs d'analyse </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="decoupe" name="decoupe" value={{parametres.decoupe}}>

    <label class="w3-text-blue">Seuil de différence entre 2 images successives </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="seuil" name="seuil" value={{parametres.seuil}}>

    <label class="w3-text-blue">nombre min de blocs différents pour déclenchement </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="min_blocs" name="min_blocs" value={{parametres.min_blocs}}>

    <label class="w3-text-blue">HOG winStride </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="winStride" name="winStride" value={{parametres.winStride}}>

    <label class="w3-text-blue">HOG padding </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="padding" name="padding" value={{parametres.padding}}>

    <label class="w3-text-blue">HOG scale </label>
    <input class="w3-input w3-border w3-hover-black" type="text" id="scale" name="scale" value={{parametres.scale}}>
    </b>
    <input type="submit" value="Modifier">
</form>
<a class="w3-panel w3-center" href="http://{{ip}}:5002" class="w3-button">retour</a>
</body>
</html>