<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Capture des photos</title>
    <meta name='viewport' content="width-device-width, initial-scale=1" charset='UTF-8'>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<div class="w3-container w3-teal">
<h1>
    <a href="http://{{ip}}:5001" class="w3-button">Captures caméras</a>
</h1>

</div>
  <form class="w3-container" action="/purge" method="POST">
        <label class="w3-text-blue">Historique des dates à purger </label>
        <input class="w3-input w3-border w3-hover-blue" type="date" id="d" name="d" value={{d}}>
        <input type="submit" value="Purger">
  </form>

{% autoescape false %}
{{texte}}
{% endautoescape %}

<a class="w3-panel w3-center" href="http://{{ip}}:5002" class="w3-button">retour</a>
</body>
</html>